    /* no-repeat center center / cover; */
body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}
.main {
    width: 99vw;
}
.intro-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: maroon;
}
.title {
    color: white;
    width: 100%;
    font-weight: bolder;
    font-size: 32px;
    z-index: 1;
}
.input-section {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: antiquewhite;
}
.input-title {
    color: maroon;
    width: 100%;
    font-weight: bolder;
    font-size: 32px;
    z-index: 1;
}
.para {
    font-size: medium;
    color: white;
}
.para2 {
    font-size: medium;
    color: grey;
}
.inputs {
    width: 100%;
    margin-top: 40px;
    justify-content: space-around;
}
.input {
    width: 40%;
    height: 2rem;
    font-size: large;
    border: 1px solid maroon;
    border-radius: 5px;
    padding-left: 1rem;
    margin: 10px;
}
#btn {
    width: auto;
    height: fit-content;
    padding: 1rem;
    font-size: large;
    border-radius: 5px;
}
#btn:hover {
    background-color: black;
    color: white;
}
.message-heading {
    color: white;
}
.messages {
    background-color: maroon;
    color: white;
}